.formulaire{
  border: 5px solid rgba(255, 255, 255, .3);
  display: block;
  margin: 50px auto;
  width: 600px;
  height: auto;
  padding: 0px;
  border-radius: 6px;
  box-shadow: 0px 0px 300px 1px #333;
}
.ouvrir-dossier h2{
  margin: 18px 0;
    padding-bottom: 10px;
    width: 100%;
    color: #1e439b;
    font-size: 22px;
    border-bottom: 3px solid #1e439b;
    font-weight: 600;
    margin-bottom: 30px;
}
.ouvrir-dossier{
  max-width: calc(100vw - 40px);
  width: 500px;
  height: auto;
  background: rgba(255, 255, 255, 1);
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #fff;
  margin: 3% auto;
  padding: 20px 30px;
  box-sizing: border-box;
  position: relative;
  border-bottom: 5px solid #ccc;
}
.ouvrir-dossier input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid #bebed2;
  transition: all .3s;
}


.ouvrir-dossier .form-label{
  font-size: 14px;
  margin-bottom: -20px;
  font-weight: 700;
}

.open-label{
    text-align: left;
    font-size: 13px;
    font-weight: normal;
    margin: 5px;
    color: #000;
}

.ouvrir-dossier button {
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid #78788c;
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  transition: all .3s;
}
.ouvrir-dossier button:hover {
  background: #1e439b;
  color: #fff;
}

@media (max-width :900px) {
    .formulaire{
      width: 400px;
    }
    
}
.confirmation{
}